.detail {
  display: flex;
  justify-content: space-around;
  background-color: black;
  position: relative;
  height: 550px;
}
.movie {
  width: 50%;
  margin-top: 1rem;
}

.movie img {
  height: 500px;
  width: auto;
}

.text {
  padding-left: 2rem;
  width: 40%;
  color: aliceblue;
}

.button_close {
  position: absolute;
  top: 0;
  right: 10px;
  color: aliceblue;
  font-size: 30px;
}

.button_close:hover {
  cursor: pointer;
  transform: scale(1.2);
  transition: 0.5s;
  color: red;
}
