.text {
  margin-top: 2rem;
  padding-left: 48px;
  font-weight: 700px;
  font-size: 26px;
  color: aliceblue;
}

.img {
  width: 180px;
  cursor: pointer;
  z-index: 20;
  opacity: 0.6;
}

.img:hover {
  transition: all 0.6s ease-in-out;
  transform: scale(1.15);
  z-index: 10;
  opacity: 1;
}

ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

li {
  padding: 12px;
}
